doctype html
html
  head
    title DC's Dance Academy
    block scripts
    block style
  body
    nav#navbar 
        ul  
            div#logo 
                img(src="/static/img/logo-1234.png")
                | DCDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Classes Info]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer 
        | Copyright © 2019 DC'sDanceAcademy.com | All rights reserved
