//- index.pug
doctype html
html
  head
    title DC's Dance Academy
    style
      include ../static/style.css
      
  body
    nav#navbar 
        ul  
            div#logo 
                img(src="static/img/logo-1234.png")
                | DCDA
            li #[a(href="") Home]
            li #[a(href="/about") About]
            li #[a(href="/") Services]
            li #[a(href="/") Classes Info]
            li #[a(href="/contact") Contact Us]
            
    section#introSection
        div Welcome to DC's Dance Academy 
        div Eat Sleep Dance Repeat 
    section#about 
        div 
            p Welcome to DC Dance Academy, where we strive to create a fun, welcoming, and inclusive environment for dancers of all levels and backgrounds. Our experienced instructors are passionate about teaching a variety of dance styles, including ballet, jazz, hip-hop, contemporary, and more.
        div
            p At DC Dance Academy, we believe that dance is for everyone, whether you're a beginner taking your first steps or an experienced dancer looking to improve your technique. We offer classes for all ages, from toddlers to adults, and we're committed to helping each student reach their full potential.
        div
            p In addition to our regular classes, we also offer workshops, performances, and other special events throughout the year. We're dedicated to fostering a sense of community among our students and creating opportunities for them to showcase their talents and connect with other dancers.
        div
            p If you're looking for a supportive and inspiring dance community, we invite you to join us at DC Dance Academy. Contact us today to learn more about our classes and events.
    section#missionSection
        h4 Our Mission
        .card 
            h2 Dance Perfection 
            div.card-box
                div.card-img 
                    img(src="static/img/l4.png")
                div.card-content 
                    p The Studio's instructors are devoted to sharing with students their joy of dance while having fun growing self-esteem & finding a positive, inspiring role model.
        .card
            h2 Dance the way you like 
            div.card-box
                div.card-img 
                    img(src="static/img/l2.png")
                div.card-content 
                    p Dance is a form of expression that brings people together, allows them to be creative in new ways, and is a fantastic way to escape the stresses and cares of everyday life. 

                    
        .card
            h2  Expert teaching
            div.card-box
                div.card-img 
                    img(src="static/img/logo1.png")
                div.card-content 
                    p You can find dance classes by the professionals for western dance that focus on various dance forms such as ballroom, hip-hop, flamenco, salsa, ballet, line dancing and many more.
            
    section#sponsersSection
        
        div#text Our Sponsers
        div#sponsers
            img(src="static/img/a.png", alt="Sponser Image", class="spImage")
            img(src="static/img/b.png", alt="Sponser Image", class="spImage")
            img(src="static/img/c.png", alt="Sponser Image", class="spImage")
            img(src="static/img/d.png", alt="Sponser Image", class="spImage")
    footer#footer 
        | Copyright © 2019 DC'sDanceAcademy.com | All rights reserved 
    script
      include ../static/index.js
