@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}

#navbar {
  background-color: #d72b06;
  padding: 0.813rem 0.875rem;
  font-family: 'Lacquer', cursive;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#navbar li {
  list-style: none;
}

#navbar li a:hover {
  color: black;
}

#logo {
  display: flex;
  color: white;
  align-items: center;
  margin: 0 0.875rem;
  font-size: 1.344rem;
  margin-right: 2.5rem;
}

#logo img {
  height: 1.875rem;
  filter: invert(100%);
  margin-right: 0.625rem;
  margin-top: 0;
}

#navbar li a {
  text-decoration: none;
  padding: 0.813rem 1.25rem;
  color: white;
  font-size: 1.288rem;
}

#introSection {
  height: 96.875rem;
  max-height: 100vh;
  background-color: red;
  color: white;
  display: flex;
  font-family: 'Teko', sans-serif;
  justify-content: center;
  background: center/cover no-repeat url("static/img/bg---.jpg");
  align-items: center;
  font-size: 4rem;
  flex-direction: column;
}

#missionSection {
  max-width: 64.4%;
  margin: auto;
  display: flex;
  padding: 1.25rem;
}

#missionSection h4 {
  height: 14.563rem;
  display: flex;
  justify-content: center;
  margin: auto;
  color: black;
  font-family: 'Chelsea Market', 'Josefin Sans', 'Lacquer', cursive;
  font-weight: bold;
  font-size: 1.75rem;
  margin-bottom: 1.913rem;
  padding: 0.563rem;
}

.card {
  border: 0.125rem solid black;
  width: 30%;
  height: 45%;
  font-size: 0.7rem;
  border-radius: 0.938rem;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto 1.25rem;
  background-color: rgb(252, 249, 246);

}

#sponsers {
  max-height: 6.25rem;
  margin: 1.25rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.spImage {
  max-height: 3.125rem;
  margin: 0.438rem;
}

@media (max-width: 1518px) {
  .card {
    margin: 0 20px;
  }
}

@media (max-width: 1303px) {
  .card {
    margin: 0 10px;
    width: 29%;
  }
}

@media (max-width: 1084px) {
  .card {
    margin: 0 8px;
    width: 31%;
  }
}

@media (max-width: 768px) {
  #navbar ul {
    flex-direction: column;
    align-items: center;
  }
@media (max-width: 768px) {
  #introSection {
    margin-bottom: 0px;
  }
}
  #navbar li {
    margin-bottom: 10px;
  }

  #navbar li a {
    padding: 10px 20px;
  }

  #logo {
    margin-right: 0;
  }

  #missionSection {
    width: 100%;
  }
}

#sponsersSection {
  background-color: #a5000028;
  padding: 1.25rem 0;
  color: black;
  font-family: 'Chelsea Market', cursive;
  text-align: center;
  font-size: 1.5rem;
  max-height: 9.375rem;
}

#footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.938rem 0;
  font-family: 'Lacquer', cursive;
  font-family: 'Chelsea Market', cursive;
}
#scroll-btn{
  display: none;
}
