h1{
    text-align: center;
    margin: 0.75rem 0rem;
    font-family: 'Lacquer', cursive;
}
.myInput{
    width: 40%;
    padding: 0.563rem;
    margin: 0.5rem;
    font-size: 1rem;
    border: 0.125rem solid black;
    border-radius: 0.75rem;
    outline: none;
    font-weight: bold;
    
}
.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 100%;
}
.btn{
    padding: 0.5rem 1rem;
    font-size: 1.125rem;
    border: 0.125rem solid black;
    border-radius: 0.625rem;
    background-color: red;
    color: white;
    cursor: pointer;
    margin: 1.125rem;
}
.container{
    min-height: 85.6vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}