@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#navbar{
    background-color:  #d72b06;
    padding: 13px 14px;
    font-family: 'Lacquer', cursive;
    height: 59.3px;
}
#navbar ul{
    display:flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    
}
#navbar li{
    list-style: none;
    }
    #navbar li a:hover{
        color: black;
    }
#logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0px 14px;
    font-size: 21.5px;
    margin-right: 40px;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;

}

.card h2{
    display: flex;
    justify-content: center;
}
.card-content p {
    font-weight: bold;
    font-size: 14px;
    padding: 7px;
}
.card-img{
    height: 100px;
    padding: 0 0px;
    
}
.card-img img{
        height: inherit;
        padding-top: 15px;
        
}
#logo img{
         height: 30px;
         filter: invert(100%);
         margin-right: 10px;
         margin-top: 0px;
}
#navbar li a{
    text-decoration: none;
    padding: 13px 30px;
    color: white;
    font-size: 20.6px;
   
}
#introSection{
    height: 550px;
    background-color: red;
    color: rgb(255, 255, 255);
    display: flex;
    font-family: 'Teko', sans-serif;
    justify-content: center;
    background: center/cover no-repeat url("static/img/bg---.jpg");
    align-items: center;
    font-size: 4rem;

    flex-direction: column;
    /* opacity: 0.6; */
    
    /* text-shadow: 5px 3px black; */
    
}
#missionSection{
    height: 350px;
    width: 66.4%;
    margin: auto;
}

#missionSection h4{
    /* background-color:  #a5000028; */
    height: 60px;
    display: flex;
    margin: 3px;
    padding: 3px;
    justify-content: center;
    margin: auto;
    color: black;
    font-family: 'Chelsea Market', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lacquer', cursive;
    
    
font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 30.6px;
    padding: 9px;
    font-size: 28px;
    }
    .card {
        border: 2px solid black;
        width: 25%;
        /* margin: 100px -64.4px; */
        height: 200px;
        /* display: inline-flex; */
        font-size: 12px;
        /* margin-top: 0px; */
        /* display: block; */
        border-radius: 15px;
        flex-direction: column;
        font-family: 'Josefin Sans', sans-serif;
        padding: 8px;
        display: flex;
        display: inline-table;
        position: relative;
        margin: 0px 42px;
        align-content: center;
        justify-content: space-evenly;
        background-color: rgb(252, 249, 246);
    }
    #sponsers{
        height: 163px;
        max-width: 1000px;
        margin: 79px auto;
    }
    .spImage{
        height: 95%;
        z-index: 0;
        margin: 17px;
       
    }
    @media (max-width: 1518px) {
        .card {
          margin: 0px 40px;
        }
      }
    @media (max-width: 1444px) {
        .card {
          margin: 0px 39px;
        }
      }
    @media (max-width: 1411px) {
        .card {
          margin: 0px 38px;
        }
      }
    @media (max-width: 1375px) {
        .card {
          margin: 0px 37px;
        }
      }
    @media (max-width: 845px) {
        .card {
          margin: 0px 25px;
        }
      }
    @media (max-width: 1338px) {
        .card {
          margin: 0px 36px;
        }
      }
    @media (max-width: 1303px) {
        .card {
          margin: 0px 18px;
          width: 29%;
        }
      }
    
   
    @media (max-width: 1265px) {
        .card {
            margin: 0px 30px;
            width: 26%;
        }
      }
      
    @media (max-width: 1234px) {
        .card {
            margin: 0px 29px;
            width: 26%;
        }
      }
      @media (max-width: 1231px) {
        .card {
            margin: 0px 29px;
            width: 26%;
        }}
      @media (max-width: 1192px) {
        .card {
            margin: 0px 25px;
            width: 27%;
        }}
        
      @media (max-width: 1189px) {
        .card {
            margin: 0px 18px;
            width: 28%;
        }
      }
      @media (max-width: 1159px) {
        .card {
            margin: 0px 16px;
            width: 29%;
        }
      }
      @media (max-width: 1123px) {
        .card {
            margin: 0px 12px;
            width: 30%;
        }
      }
      @media (max-width: 1084px) {
        .card {
            margin: 0px 8px;
            width: 31%;
        }
      }
      @media (max-width: 1032px) {
        .card {
            margin: 0px 4px;
            width: 32%;
        }
      }
    #text{
        
        
        /* text-align: center; */
        z-index: 1;
        display: inline-block;
        display: grid;
        position: absolute;
        margin-top: 10px;
        font-family: 'Lacquer', cursive;
    font-weight: bold;
    font-size: 28px;
    }
#sponsersSection{
    background-color:  #a5000028;
    height: 300px;
    display: flex;
    justify-content: center;
    margin: auto;
    color: black;
    font-family: 'Chelsea Market', cursive;
    
    z-index: -1;
    font-size: 1.5rem;
    text-align: center;
    

}
#footer{
    background-color: black;
    height: 50px;
    color: white;
    text-align: center;
    padding-top: 15px;
    font-family: 'Lacquer', cursive;
    font-family: 'Chelsea Market', cursive;}
