@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
}

#navbar {
  background-color: #d72b06;
  padding: 13px 14px;
  font-family: 'Lacquer', cursive;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#navbar li {
  list-style: none;
}

#navbar li a:hover {
  color: black;
}

#logo {
  display: flex;
  color: white;
  align-items: center;
  margin: 0 14px;
  font-size: 21.5px;
  margin-right: 40px;
}

#logo img {
  height: 30px;
  filter: invert(100%);
  margin-right: 10px;
  margin-top: 0;
}

#navbar li a {
  text-decoration: none;
  padding: 13px 20px;
  color: white;
  font-size: 20.6px;
}

#introSection {
  height: 1550px;
  max-height: 100vh;
  background-color: red;
  color: white;
  display: flex;
  font-family: 'Teko', sans-serif;
  justify-content: center;
  background: center/cover no-repeat url("static/img/bg---.jpg");
  align-items: center;
  font-size: 4rem;
  flex-direction: column;
}

#missionSection {
  max-width: 64.4%;
  margin: auto;
  display: flex;
  padding: 20px;
}

#missionSection h4 {
  height: 60px;
  display: flex;
  justify-content: center;
  margin: auto;
  color: black;
  font-family: 'Chelsea Market', 'Josefin Sans', 'Lacquer', cursive;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 30.6px;
  padding: 9px;
}

.card {
  border: 2px solid black;
  width: 25%;
  height: 35%;
  font-size: 0.7rem;
  border-radius: 15px;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto 1.25rem;
  background-color: rgb(252, 249, 246);

}

#sponsers {
  max-height: 100px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

.spImage {
  max-height: 50px;
  margin: 7px;
}

@media (max-width: 1518px) {
  .card {
    margin: 0 20px;
  }
}

@media (max-width: 1303px) {
  .card {
    margin: 0 10px;
    width: 29%;
  }
}

@media (max-width: 1084px) {
  .card {
    margin: 0 8px;
    width: 31%;
  }
}

@media (max-width: 768px) {
  #navbar ul {
    flex-direction: column;
    align-items: center;
  }
@media (max-width: 768px) {
  #introSection {
    margin-bottom: 0px;
  }
}
  #navbar li {
    margin-bottom: 10px;
  }

  #navbar li a {
    padding: 10px 20px;
  }

  #logo {
    margin-right: 0;
  }

  #missionSection {
    width: 100%;
  }
}

#sponsersSection {
  background-color: #a5000028;
  padding: 20px 0;
  color: black;
  font-family: 'Chelsea Market', cursive;
  text-align: center;
  font-size: 1.5rem;
  max-height: 150px;
}

#footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-family: 'Lacquer', cursive;
  font-family: 'Chelsea Market', cursive;
}
#scroll-btn{
  display: none;
}
